env-meta:
    name: base
    python_version: "{{pyenv.python_version}}"
    description: "a base environment for pytoolbelt tools that covers a wide range of use cases"
    requirements:
      - pytoolbelt-toolkit==0.2.0
      - requests==2.31.0
      - rich==13.5.2
      - python-dotenv==1.0.0
      - pyyaml==6.0.1
      - pytest==7.4.0
