import info
from pytoolbelt.toolkit.command import PyToolBeltCommand



class Version(PyToolBeltCommand):
    """Print the version of {{tool_name}}."""

    def __call__(self) -> int:
        print(f"{{tool_name}} :: Version {info.__version__}")
        return 0
