tool:
  name: {{ name }}
  version: "{{ version }}"
  ptvenv:
    name: "name of ptvenv this version of the tool needs"
    version: "0.0.1"
    source: "ptvenv" # alternatively this can be a git repo url
