#!{{python_executable}}
# -*- coding: utf-8 -*-
import re
import sys

tool_path = "{{tool_path}}"
if tool_path not in sys.path:
    sys.path.insert(0, tool_path)

from {{tool_name}}.__main__ import main

if __name__ == '__main__':
    sys.argv[0] = re.sub(r'(-script\.pyw|\.exe)?$', '', sys.argv[0])
    sys.exit(main())
