import json

__version__ = "0.0.0"


def info() -> str:
    return json.dumps({
        "name": "{{tool_name}}",
        "description": "A short description of the tool.",
        "author": "Eric Idle",
        "version": __version__,
        "site": "www.pytoolbelt.com/tools/{{tool_name}}",
    })
