env-meta:
    name: {{pyenv.name}}
    python_version: "{{pyenv.python_version}}"
    description: "a description of the environment."
    requirements:
      - "a list of requirements"
      - "that will be passed to pip install"
