repos:
  default: foobar
  foobar:
    url: spambeans
    secret: ${PYTOOLBELT_GITHUB_SECRET}
    release_branch: main
  barfoo:
    url: eggsbeans
    secret: ${PYTOOLBELT_GITHUB_SECRET}
    release_branch: master
