env-meta:
    name: qa
    python_version: "{{pyenv.python_version}}"
    pyenv_id: {{pyenv.generate_id()}}
    description: "this is a quality assurance environment for pytoolbelt tools"
    requirements:
      - pytoolbelt-toolkit==0.2.0
      - black==23.7.0
      - isort==5.12.0
      - mypy==1.5.1
